# Copy these variables into `.env.local` for local development.

GITHUB_TOKEN=
GEMINI_API_KEY=

NEXT_PUBLIC_GA_MEASUREMENT_ID=

NEXT_PUBLIC_APP_SEARCH_KEY=
NEXT_PUBLIC_APP_SEARCH_ENGINE_NAME=
NEXT_PUBLIC_APP_SEARCH_ENDPOINT_BASE=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=

STRAVA_CLIENT_ID=
STRAVA_SECRET=
STRAVA_REFRESH_TOKEN=
