.chat-mode {
  max-width: 920px;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.chat-prompts {
  display: flex;
  flex-direction: row;
  gap: var(--space-large);
  margin: var(--space-large) 0;
  justify-content: flex-start;
}

.prompt-item {
  min-width: 0;
  padding: var(--space-large);
  border-radius: var(--radius-md);
  border: 1px solid var(--tag-color-bg);
  background: var(--card-color-bg);
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: var(--space-small);
  align-items: center;
  text-align: inherit;
}

.link-card {
  border: 1px solid var(--tag-color-bg);
  border-radius: var(--radius-md);
  padding: var(--space-large);
  background: var(--card-color-bg);
  display: flex;
  gap: var(--space-small);
  text-decoration: none;
  margin: var(--space-large) 0;
  justify-content: space-between;
}

.prompt-item img {
  filter: invert(100%);
  width: 16px;
  height: 16px;
}

.prompt-item:hover,
.prompt-item:focus,
.prompt-item:active,
.link-card:hover,
.link-card:focus,
.link-card:active {
  color: inherit;
  text-decoration: none;
  background: var(--card-color-hover);
  cursor: pointer;
}

.chat-answer,
.chat-loading {
  background-color: var(--border-color-subtle);
  padding: var(--space-xlarge);
  border-radius: var(--radius-md);
  align-items: center;
  display: flex;
}

.cursor {
  display: inline-block;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.timeline-item-chat::before {
  position: absolute;
  bottom: calc(100% - 87px);
  left: 14px;
  width: 2px;
  height: 50px;
  border-left: 2px dashed var(--text-color-muted);
  content: "";
}

.timeline-item-chat:last-child::before {
  position: absolute;
  border-left: none;
  height: 20px;
  height: 0;
}

.timeline-item-chat {
  margin: 0 0 var(--space-xlarge) 0;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: var(--space-medium);
}

.timeline-period {
  width: 140px;
}

.timeline-content {
  width: 100%;
}
