:root {
  --green-1: #6bf4c8;
  --green-2: #5debac;
  --green-3: #66ed7f;
  --yellow: #ffd253;
  --orange: #ff7253;
  --red-1: #f0696a;
  --red-2: #f06a8b;
  --pink: #ff9cb4;
  --purple: #b66afe;
  --aqua: #6ac9f5;
  --blue-1: #62acfe;
  --blue-2: #686afe;
  --dark-1: #00091b;
  --dark-2: #011438;
  --white-1: #fefefe;
  --white-2: #f2f2f2;
}
