@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-family-monospace: "Inconsolata", monospace;
}

.font-toggle {
  background-image: url("/sans-serif-icon.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* transform: rotate(0); */
  outline: none;
}

.font-toggle:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px #3f53d9;
}

.monospace .font-toggle {
  background-image: url("/monospace-icon.svg");
  /* transform: rotate(-360deg); */
}

.monospace html,
.monospace body,
.monospace h1,
.monospace h2,
.monospace h3,
.monospace h3,
.monospace h4,
.monospace h5,
.monospace h6,
.monospace p,
.monospace small,
.monospace a,
.monospace li,
.monospace b,
.monospace i,
.monospace strong,
.monospace mark {
  font-family: var(--font-family-monospace);
}

.monospace #snackbar {
  font-family: var(--font-family-monospace);
}
