.iconWrapper {
    background: none;
    border: none;
    cursor: sw-resize;
    height: 24px;
}

.iconSize{
    height: 24px;
    max-width: 24px;
    display: flex;
    transition: all 1.15s ease;
}