form {
  width: 100%;
}

.modal-content > div {
  width: 100%;
}

.sui-search-box {
  display: flex;
}

.sui-search-box__wrapper {
  width: 100%;
  margin: 0 var(--space-medium) 0 0;
}

.button {
  margin: 0 0 0 var(--space-small);
  border: 2px solid currentColor;
  background-color: transparent;
  color: currentColor;
  padding: 0 var(--space-large);
  font-size: 12px;
  font-family: var(--font-family);
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: var(--card-color-bg);
  border: 2px solid var(--card-color-bg);
  transition: all 0.3s ease-in-out;
  margin: 2px;
  height: 48px;
}

.button:hover {
  background-color: var(--blue-2);
  cursor: pointer;
}

.button:active {
  background-color: var(--blue-2);
}

.button:focus,
.button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px var(--link-color-text);
}

.sui-search-box__text-input {
  padding: var(--space-large);
  width: 100%;
  height: 48px;
  font-size: 12px;
  font-family: var(--font-family);
  border-radius: 0;
  border: 2px solid currentColor;
  background-color: var(--light-color-bg);
  color: var(--dark-color-bg);
  border-radius: 60px;
  cursor: text;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-color-bg);
  border: 2px solid var(--card-color-bg);
  transition: all 0.3s ease-in-out;
}

.sui-search-box__text-input:focus,
.sui-search-box__text-input:active {
  outline: none;
  box-shadow: 0 0 0 4px var(--link-color-text);
}

.sui-result {
  padding: var(--space-xlarge);
  list-style: none;
  background-color: var(--tag-color-bg);
  margin: var(--space-small) 0 var(--space-xlarge) 0;
}

.sui-result__title-link {
  background-color: var(--selection-color-bg);
  color: var(--selection-color-text);
}

.sui-result__title-link:hover {
  color: var(--selection-color-text);
}

.sui-result__title > em,
em {
  background-color: var(--selection-color-bg);
  color: var(--selection-color-text);
  font-style: inherit;
}

.sui-result__details > li {
  display: flex;
  flex-direction: column;
  margin: 0 0 var(--space-small) 0;
}

.sui-result__key {
  font-size: 12px;
  color: var(--tag-color-text);
  font-family: var(--font-family-code);
  display: none;
}

.sui-result__value,
.sui-paging-info,
.sui-paging-info > strong {
  font-size: 16px;
  font-family: var(--font-family);
  line-height: 22px;
}

.sui-paging-info {
  padding: var(--space-xlarge) 0 0 0;
}

.sui-result__details li:nth-child(2),
.sui-result__details li:nth-child(3),
.sui-result__details li:nth-child(4) {
  display: none;
}
