*,
*::after,
*::before {
  box-sizing: border-box;
}

::selection {
  background-color: #3f53d9;
  color: #ffd707;
}

:root {
  --heading-font: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  --body-font: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  --code-font: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  --dark-color: rgb(4, 3, 19);
  --dark-color-line-color: var(--whiteAlpha20);
  --light-color: rgba(240, 240, 243, 1);
  --light-color-element-color: var(--indigo400);
  --invert-filter-color: brightness(0) invert(1);
}

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  background-color: #e2e2e2;
  color: #050038;
  transition: all 0.75s ease-in-out;
  line-height: 1.5;
  max-width: 1792px;
  scroll-behavior: smooth;
}

header,
footer {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 24vw;
  margin-bottom: 1.5vw;
  margin-top: 1vw;
}

footer {
  height: 100%;
  margin-bottom: 0;
  padding-bottom: 1.5vw;
  border-bottom: 8px solid;
}

section {
  width: 100%;
  margin-bottom: 16px;
}

a {
  color: inherit;
  cursor: ne-resize;
  transition: background-color 0.3s ease;
  text-decoration: underline;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #3f53d9;
}

a:active {
  background-color: #ffcf00;
  color: #3f53d9;
}

a:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px #3f53d9;
}

h4 {
  margin: 4px 0;
}

small {
  display: flex;
  align-items: center;
  font-size: 14px;
}

p {
  line-height: 1.4;
  margin: 16px 0 24px 0;
}

pre {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: square;
  margin: 8px 0px 0px 4px;
}

ol {
  padding-left: 0px;
  margin: 8px 0px 0px 4px;
}

li {
  margin-bottom: 8px;
  margin-left: 12px;
}

li a {
  margin-left: 4px;
}

img {
  width: 100%;
}

blockquote {
  margin: 8px 0;
  padding: 16px;
  background-color: #5454540f;
  border-left: 2px solid;
  font-style: italic;
}

info {
  margin-top: 8px;
  text-align: center;
}

@media (max-width: 834px) {
  header {
    padding: 10vw 2.5vw;
  }

  footer {
    padding: 10vw 2.5vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 600px) {
  footer {
    padding: 10vw 2.5vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  header {
    padding: 10vw 2.5vw;
  }

  ol {
    padding-left: 16px;
    margin: 8px 0px 0px 4px;
    list-style-position: outside;
  }

  p {
  }
}

.footerList {
  display: flex;
}

.footerLi {
  display: flex;
  padding-right: 16px;
  margin-bottom: 8px;
}

li.footerLi:last-child {
  padding-right: 0px;
}

.emoji {
  font-size: 16px;
  margin-right: 4px;
}

@media (max-width: 834px) {
  .footerList {
    margin: 0;
  }

  .footerLi {
    margin: 16px 0;
  }
}

@media (max-width: 600px) {
  .footerList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    margin-left: 0;
  }

  .footerLi {
    margin: 8px 0 8px 0;
  }
}

.iconWrapper {
  background: none;
  border: none;
  cursor: sw-resize;
  height: 24px;
}

.iconSize {
  height: 24px;
  max-width: 24px;
  transition: all 1.15s ease;
}

.heading2Xl {
  margin: 0;
  line-height: 1.4;

  font-weight: 600;
  text-align: left;
}

.heading2XlNotReady {
  margin: 0;

  font-weight: 600;
  text-align: center;
  line-height: 1;
  margin-bottom: 24px;
}

.headingXl {
  margin: 0;
  line-height: 1.4;

  font-weight: 300;
  letter-spacing: 0.1vw;
}

.headingXl a {
  font-weight: 600;
  padding: 4px 4px 0px 4px;
}

.headingL {
  margin: 64px 0 8px;
  text-transform: uppercase;
}

.headingM {
  margin: 8px 8px;
  text-transform: uppercase;
}

.listStyleCircle {
  list-style-type: circle;
}

.flex {
  display: flex;
  align-items: end;
}

.flexWrapper {
  display: flex;
  margin: 0 auto;
  padding: 16px;
}

.iFrameStyles {
  width: 100%;
}

.mainWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innerWrapper {
  padding: 8vw 24vw 6vw 24vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.contentWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1220px;
  margin-top: 5vw;
}

.notReadyWrapper {
  display: grid;
  margin: 0 auto;
}

.mainCard {
  width: 100%;
  color: inherit;
  cursor: e-resize;
  text-decoration: none;
  font-weight: 500;
  text-shadow: none;
  text-decoration: none;
  padding: 8px 16px;
  margin: 24px 0 0 0;
  background-color: #5454541a;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

a.mainCard:hover,
a.mainCard:active,
a.mainCard:focus {
  text-decoration: none;
  color: inherit;
  background-color: #5454541a;
}

.mainCard[href] h6 {
  padding: 4px 4px 0px 4px;
  margin: 8px 0;
}

.mainCard[href]:hover h6 {
  background-color: #ffcf00;
  color: #3f53d9;
}

.mainCard[href]:active h6 {
  background-color: #ffcf00;
  color: #3f53d9;
}

.mainCard[href]:focus h6 {
  background-color: #ffcf00;
  color: #3f53d9;
}

.mainCard small {
  padding: 24px;
  line-height: 1.4;
  opacity: 0.7;
}

.stackCard {
  width: 100%;
  color: inherit;
  cursor: ne-resize;
  text-decoration: none;
  font-weight: 500;
  text-shadow: none;
  text-decoration: none;
  padding: 8px 16px;
  margin: 24px 0 0 0;
  background-color: #5454541a;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.stackCard > div {
  display: flex;
  align-items: center;
}

a.stackCard:hover,
a.stackCard:active,
a.stackCard:focus {
  text-decoration: none;
  color: inherit;
  background-color: #5454541a;
}

.stackCard[href] h6 {
  padding: 4px 2px;
  margin: 8px 8px;
}

.stackCard[href]:hover h6 {
  background-color: #ffcf00;
  color: #3f53d9;
}

.stackCard[href]:active h6 {
  background-color: #ffcf00;
  color: #3f53d9;
}

.stackCard[href]:focus h6 {
  background-color: #ffcf00;
  color: #3f53d9;
}

.stackCardImg {
  width: 48px;
  height: 48px;
  border-radius: 8px;
}

.dicCard {
  width: 100%;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  text-shadow: none;
  text-decoration: none;
  padding: 16px 16px;
  margin: 24px 0 0 0;
  background-color: #5454541a;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.dicCard summary {
  font-weight: bold;
}

details.dicCard summary:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px #3f53d9;
}

.externalPassage {
  width: 100%;
  color: inherit;
  cursor: ne-resize;
  text-decoration: none;
  font-weight: 500;
  text-shadow: none;
  text-decoration: none;
  padding: 8px 16px;
  margin: 24px 0 0 0;
  background-color: #5454541a;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

a.externalPassage:hover,
a.externalPassage:active,
a.externalPassage:focus {
  text-decoration: none;
  color: inherit;
  background-color: #5454541a;
}

.externalPassage[href] h6 {
  padding: 4px 4px 0px 4px;
  margin: 8px 0;
}

.externalPassage[href]:hover h6 {
  background-color: #ffcf00;
  color: #3f53d9;
}

.externalPassage[href]:active h6 {
  background-color: #ffcf00;
  color: #3f53d9;
}

.externalPassage[href]:focus h6 {
  background-color: #ffcf00;
  color: #3f53d9;
}

.externalPassage small {
  padding: 24px;
  line-height: 1.4;
  opacity: 0.7;
  font-size: 14px;
}

.backButton {
  cursor: w-resize;
  margin-bottom: 24px;
}

.internalPassage {
  cursor: e-resize;
}

.dropCap {
  font-size: 5vw;
  font-weight: 900;
  float: left;
  line-height: 0.55;
  margin-right: 8px;
  padding-top: 16px;
}

.imgVertical {
  width: 50%;
  height: 50%;
  padding: 16px;
  display: flex;
  margin: 0 auto;
}

@media (max-width: 834px) {
  .innerWrapper {
    padding: 10vw 2.5vw;
    height: 100%;
  }

  .contentWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .dropCap {
    font-size: 11vw;
    line-height: 0.6;
    margin-right: 0.15em;
    padding-top: 16px;
  }

  .flexWrapper {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .innerWrapper {
    padding: 10vw 2.5vw;
    height: 100%;
  }

  .contentWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .heading2XlNotReady {
    text-align: center;
    :6.5vw ;
  }

  .heading2Xl {
    :7vw ;
  }

  .headingXl {
    margin-top: 8px;
    :6vw ;
  }

  .headingL {
    :4vw ;
  }

  .mainCard {
    align-items: baseline;
    flex-direction: column;
    width: 100%;
  }

  .mainCard small {
    padding: 4px 4px 16px 4px;
  }

  .externalPassage {
    align-items: baseline;
    flex-direction: column;
    width: 100%;
  }

  .externalPassage small {
    padding: 4px 4px 16px 4px;
  }

  .dropCap {
    font-size: 15vw;
    line-height: 0.7;
    margin-right: 0.15em;
    padding-top: 12px;
  }

  .imgVertical {
    width: 100%;
  }
}
