*,
*::after,
*::before {
  box-sizing: border-box;
}

@import url("https://rsms.me/inter/inter.css");
@supports (font-variation-settings: normal) {
}

:root {
  --font-family: "Inter", sans-serif;
  --dark-color-bg: rgb(19, 19, 19);
  --light-color-text: rgb(226, 226, 226);
  --light-color-bg: rgb(226, 226, 226);
  --dark-color-text: rgb(5, 0, 56);
  --selection-color-bg: rgb(63, 83, 217);
  --selection-color-text: rgb(255, 215, 7);
  --link-color-text: rgb(63, 83, 217);
  --link-color-bg: rgb(255, 207, 0);
  --card-color-bg: rgba(84, 84, 84, 0.15);
  --tag-color-bg: rgba(84, 84, 84, 0.15);

  --space-xxsmall: 2px;
  --space-xsmall: 4px;
  --space-small: 8px;
  --space-medium: 12px;
  --space-large: 16px;
  --space-xlarge: 24px;

  --border-radius-small: 8px;
}

/* Display-P3 color, when supported. */
@supports (color: color(display-p3 1 1 1)) {
  :root {
    --light-color-bg: color(display-p3 0.845 0.858 1);
    --dark-color-text: color(display-p3 0.001 0.019 0.09);
    --dark-color-bg: color(display-p3 0.001 0.025 0.105);
    --light-color-text: color(display-p3 0.84 0.978 1);
    --selection-color-bg: color(display-p3 0.255 0.147 0.98);
    --selection-color-text: color(display-p3 0.945 0.676 0.17);
    --link-color-text: color(display-p3 0.255 0.147 0.98);
    --link-color-bg: color(display-p3 0.945 0.676 0.17);
    --card-color-bg: color(display-p3 0.44 0.495 1 / 0.08);
    --tag-color-bg: color(display-p3 0.44 0.495 1 / 0.24);
  }
}

::selection {
  background-color: var(--selection-color-bg);
  color: var(--selection-color-text);
}

body {
  padding: 0;
  margin: 0 auto;
  font-family: var(--font-family);
  background-color: var(--light-color-bg);
  color: var(--dark-color-text);
  line-height: 1.4;
  scroll-behavior: smooth;
  word-break: normal;
}

header,
footer {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 24vw;
  margin: var(--space-large) 0;
}

footer {
  height: 100%;
  margin-bottom: 0;
  padding-bottom: 1.5vw;
  border-bottom: 8px solid;
}

section {
  width: 100%;
  margin-bottom: var(--space-large);
}

a {
  color: inherit;
  cursor: ne-resize;
  transition: background-color 0.3s ease;
  text-decoration: underline;
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--link-color-text);
}

a:active {
  background-color: var(--link-color-bg);
  color: var(--link-color-text);
}

a:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px var(--link-color-text);
}

h4 {
  margin: var(--space-xsmall) 0;
}

hr {
  color: inherit;
  width: 100%;
  opacity: 0.1;
}

small {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.4;
  margin: var(--space-xsmall) 0 var(--space-small) 0;
  padding: 0 var(--space-xsmall);
}

ul {
  width: 100%;
  padding-left: 0;
  list-style: square;
  margin: var(--space-small) 0px 0px var(--space-xsmall);
}

ol {
  padding-left: 0px;
  margin: var(--space-small) 0px 0px var(--space-xlarge);
}

li {
  margin-bottom: var(--space-small);
  margin-left: var(--space-medium);
}

li a {
  margin-left: var(--space-xsmall);
}

img {
  width: 100%;
}

blockquote {
  margin: var(--space-small) 0;
  padding: var(--space-large);
  background-color: #5454540f;
  border-left: 2px solid;
  font-style: italic;
}

info {
  margin-top: var(--space-small);
  text-align: center;
}

h5 {
  margin: var(--space-small) 0;
}

h6 {
  margin: var(--space-xlarge) 0 var(--space-small);
  text-transform: uppercase;
  font-weight: normal;
}

pre {
  background-color: var(--card-color-bg);
  padding: var(--space-xlarge);
}

button {
  border: none;
}

.footerList {
  display: flex;
}

.footerLi {
  display: flex;
  padding-right: var(--space-large);
  margin-bottom: var(--space-small);
}

li.footerLi:last-child {
  padding-right: 0px;
}

.heading2Xl {
  margin: 0;
  line-height: 1.4;
  font-weight: 600;
  text-align: left;
}

.blogTitle {
  margin: 0;
  line-height: 1.4;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
}

.headingM {
  margin: var(--space-small);
  text-transform: uppercase;
}

.list-style-circle {
  list-style-type: circle;
}

.list-style-none {
  list-style: none;
}

.flex {
  display: flex;
  align-items: flex-end;
}

.error {
  width: 100%;
  align-items: center;
  flex-direction: column;
  background-color: var(--tag-color-bg);
  padding: var(--space-xlarge);
}

.error > p {
  text-align: center;
}

.mainWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innerWrapper {
  padding: 8vw 24vw 6vw 24vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.contentWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5vw;
}

.main-card {
  width: 100%;
  color: inherit;
  cursor: e-resize;
  text-decoration: none;
  text-shadow: none;
  text-decoration: none;
  padding: var(--space-small) var(--space-large);
  margin: var(--space-xlarge) 0 0 0;
  background-color: var(--card-color-bg);
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

a.main-card:hover,
a.main-card:active,
a.main-card:focus {
  text-decoration: none;
  color: inherit;
  background-color: var(--card-color-bg);
}

.main-card[href] h6 {
  padding: var(--space-xsmall) var(--space-xsmall) 0px var(--space-xsmall);
  margin: var(--space-small) 0;
  font-weight: normal;
}

.main-card[href]:hover h6 {
  background-color: var(--link-color-bg);
  color: var(--link-color-text);
}

.main-card[href]:active h6 {
  background-color: var(--link-color-bg);
  color: var(--link-color-text);
}

.main-card[href]:focus h6 {
  background-color: var(--link-color-bg);
  color: var(--link-color-text);
}

.stack-card,
.ApiCard {
  width: 100%;
  color: inherit;
  cursor: ne-resize;
  text-decoration: none;
  font-weight: 500;
  text-shadow: none;
  text-decoration: none;
  padding: var(--space-small) var(--space-large);
  margin: var(--space-xlarge) 0 var(--space-large) 0;
  background-color: var(--card-color-bg);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.stack-card > div {
  display: flex;
  align-items: center;
}

a.stack-card:hover,
a.stack-card:active,
a.stack-card:focus,
a.ApiCard:hover,
a.ApiCard:active,
a.ApiCard:focus {
  text-decoration: none;
  color: inherit;
  background-color: var(--card-color-bg);
}

.stack-card[href] h6 {
  padding: var(--space-xsmall) var(--space-xxsmall);
  margin: var(--space-small);
}

.stack-card[href]:hover h6,
.ApiCard[href]:hover p {
  background-color: var(--link-color-bg);
  color: var(--link-color-text);
}

.stack-card[href]:active h6,
.ApiCard[href]:active p {
  background-color: var(--link-color-bg);
  color: var(--link-color-text);
}

.stack-card[href]:focus h6,
.ApiCard[href]:focus p {
  background-color: var(--link-color-bg);
  color: var(--link-color-text);
}

.stack-card-img {
  border-radius: var(--border-radius-small);
}

.currentlyListeningImg {
  width: 96px;
  height: 96px;
  border-radius: var(--border-radius-small);
}

.currentlyListeningContent {
  display: flex;
  flex-direction: row;
  align-items: self-start;
  margin: 0 var(--space-large);
}

.currentlyListeningContent > p {
  padding: 0px;
  margin: 0px;
}

.flexCentered {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 0 var(--space-large) 0;
}

.flexDirectionColumn {
  flex-direction: column;
}

.justContentBetween {
  justify-content: space-between;
}

.dic-card {
  width: 100%;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  text-shadow: none;
  text-decoration: none;
  padding: var(--space-large);
  margin: var(--space-xlarge) 0 0 0;
  background-color: var(--card-color-bg);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.dic-card summary {
  font-size: calc(var(--font-size) * 1);
}

details.dic-card summary:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px var(--link-color-text);
}

.list-style {
  background-color: var(--card-color-bg);
  padding: var(--space-large) var(--space-xlarge);
  margin: var(--space-xlarge) 0;
}

.external {
  cursor: ne-resize;
}

.light-text {
  color: var(--light-color-text);
}

.dark-text {
  color: var(--dark-color-text);
}

.tag {
  margin: var(--space-large) var(--space-medium) var(--space-large) 0;
  padding: var(--space-xsmall) var(--space-small);
  background-color: var(--tag-color-bg);
  line-height: 1.4;
  word-break: keep-all;
}

// Strava styles

.strava {
  padding: var(--space-xlarge);
  margin: var(--space-xlarge) 0 var(--space-large) 0;
  background-color: var(--card-color-bg);
}

.stravaStats {
  margin: 0 0 0 var(--space-large);
}

.stravaPil {
  margin: 0 var(--space-small) 0 0;
  min-width: 130px;
}

.stravaTag {
  background-color: var(--orange);
  color: var(--white);
}

.distance {
  margin: 0;
}

.count {
  margin: 0;
}

.time {
  text-transform: uppercase;
}

.backButton {
  cursor: w-resize;
  margin-bottom: var(--space-xlarge);
}

.internalPassage {
  cursor: e-resize;
}

.dropCap {
  font-size: 4.2vw;
  font-weight: 900;
  float: left;
  line-height: 0.55;
  margin-right: var(--space-small);
  padding-top: var(--space-large);
}

.color-wrapper {
  background: var(--green-1);
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  padding: var(--space-large);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin: var(--space-xsmall);
}

.color-wrapper .tag {
  opacity: 0;
  transition: all 0.1s ease-in-out;
}

.color-wrapper:hover,
.color-wrapper:focus,
.color-wrapper:active {
  height: 120px;
}

.color-wrapper:focus-visible {
  height: 120px;
  outline: none;
  box-shadow: 0 0 0 4px var(--link-color-text);
  -webkit-tap-highlight-color: 0 0 0 4px var(--link-color-text);
}

.color-wrapper:hover .tag,
.color-wrapper:active .tag,
.color-wrapper:focus .tag,
.color-wrapper:focus-visible .tag {
  opacity: 1;
}

@media (max-width: 834px) {
  header {
    padding: 10vw 24px;
  }

  footer {
    padding: 10vw 2.5vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .innerWrapper {
    padding: 10vw 24px;
    height: 100%;
  }

  .contentWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .dropCap {
    font-size: 10.5vw;
    line-height: 0.6;
    margin-right: 0.15em;
    padding-top: var(--space-large);
  }
  .footerList {
    margin: 0;
  }

  .footerLi {
    margin: var(--space-large) 0;
  }
}

@media (max-width: 600px) {
  footer {
    padding: 10vw 2.5vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  header {
    padding: 10vw 24px;
  }

  ol {
    padding-left: var(--space-large);
    margin: var(--space-small) 0px 0px var(--space-xsmall);
    list-style-position: outside;
  }
  .innerWrapper {
    padding: 10vw 24px;
    height: 100%;
  }

  .contentWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .dropCap {
    font-size: 15vw;
    line-height: 0.65;
    margin-right: 0.15em;
    padding-top: var(--space-medium);
  }
  .footerList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    margin-left: 0;
  }

  .footerLi {
    margin: var(--space-small) 0 var(--space-small) 0;
  }

  .flexCentered .justContentBetween {
    flex-direction: column;
  }

  .stravaPil {
    min-width: auto;
  }
}
