.theme-toggle {
  background-image: url("../public/dark-mode.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-360deg);
  outline: none;
}

.dark .theme-toggle {
  background-image: url("../public/light-mode.svg");
  transform: rotate(0deg);
}

.dark body,
.dark .modal-content {
  background-color: var(--dark-color-bg);
  color: var(--light-color-text);
}

.dark #snackbar {
  background-color: var(--light-color-bg);
  color: var(--dark-color-text);
}

.dark .stravaIcon,
.dark .footer-button {
  filter: invert(100%);
}

@media (prefers-color-scheme: dark) {
  .dark .theme-toggle {
    background-image: url("../public/light-mode.svg");
    transform: rotate(0deg);
  }

  .dark body {
    background-color: var(--dark-color-bg);
    color: var(--light-color-text);
  }

  .dark #snackbar {
    background-color: var(--light-color-bg);
    color: var(--dark-color-text);
  }

  .dark .stravaIcon,
  .dark .footer-button {
    filter: invert(100%);
  }
}
