#snackbar {
  visibility: hidden;
  position: sticky;
  min-width: 96px;
  background-color: var(--dark-color-bg);
  color: var(--light-color-text);
  text-align: center;
  border-radius: 12px;
  padding: var(--space-medium);
  z-index: 1;

  bottom: var(--space-xlarge);
}

#snackbar.show {
  visibility: visible;
  animation-duration: 0.4s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    bottom: 0px;
    opacity: 0;
    transform: scale(0.98);
  }

  to {
    bottom: 23px;
    opacity: 100%;
    transform: scale(1);
  }
}
